<div class="backdrop"></div>
<header class="main-header">
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="#news">Journals</a>
        <a href="/create-entry">Create Entries</a>
        <a href="#about">About</a>
      </div> 
</header>

